#title {
    /* text-indent: 1.5em;
    background: url(../images/d01.jpg) no-repeat 10px 6px; */
    float: left;
    margin-top: 5px;
    margin-bottom: 35px;
    width: 8px;
    height: 22px;
    background: black;
}